<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <b>Danh sach cac loai xe</b><br> <br>
    {% for item in bike_info %}
    <h3>No.{{loop.index}}</h3><br>
    <b>Model</b> {{ item['model'] }}<br>
    <b>Daily Fee(VND)</b> {{ item['dailyfee'] }}<br>
    <img src="{{ item['image'] }}"><br>
    <b>Year</b> {{ item['year'] }}<br>
    {% endfor %}
    <a href="/bike/new_bike">Them xe moi</a>
</body>
</html>