<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add New Bike</title>
</head>
<body>
    <form method="POST">
        <b>Model</b> <input type="text" placeholder="e.g. Honda" name="model" required> <br> <br>
        <b>Daily Fee (VND)</b> <input type="decimal" placeholder="e.g. 100,000" name="dailyfee" required> <br> <br>
        <b>Image</b> <input type="text" placeholder="e.g. https://link" name="image"required> <br> <br>
        <b>Year</b> <input type="number" placeholder="e.g. 2019" name = "year"required> <br> <br>
        <input type="submit" value="Submit" >
    </form>
</body>
</html>